body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/937/504/original/vegetables-collection-pattern-hand-draw-vintage-style-black-and-white-isolated-on-white-background-free-vector.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


main {
  flex: 1;
}

main > #buildDiet {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.567);
}

main > #buildDiet > h1 {
  padding: 30px;
  color: white;
}

main > #buildDiet {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.567);
}

main > #buildDiet {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.567);
}

#diet {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.678);
  height: 100vh;
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: auto;
}

#container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.circle {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-color: white;
}


@media (min-width: 740px) {
  main > #buildDiet > h1 {
    padding: none;
  }

  .circle {
    width: 10em;
    height: 10em;
  }

}

@media (min-width: 1000px) {

}