body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/937/504/original/vegetables-collection-pattern-hand-draw-vintage-style-black-and-white-isolated-on-white-background-free-vector.jpg");
  background-size: cover;

}

main > #buildDiet {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.567);
}

main > #buildDiet > h1 {
 color: white;
}

main {
  flex: 1;
}

#diet {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.678);
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

#container {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}