:root {
  --navbar-text-color: black;
  --navbar-size: 10px;
  --dropdown-menu: #8D8D8D;
  --speed: 300ms;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  flex-direction: column;
}

.hotfix {
  display: none;
}

